<h1><%= @genre.name %></h1>
<p><strong>Опис:</strong> <%= @genre.description %></p>

<%= link_to "Редагувати", edit_genre_path(@genre), class: "btn btn-warning" %>
<%= link_to "Назад", genres_path, class: "btn btn-secondary" %>
