<div class="container mt-5 text-center">
  <h1 class="mb-4 display-4">Ласкаво просимо до картинної галереї</h1>
  <p class="lead mb-5">Оберіть розділ для перегляду картин, авторів або жанрів.</p>

  <div class="d-flex flex-column align-items-center gap-3">
    <%= link_to "🎨 Картини", paintings_path, class: "btn btn-outline-primary btn-lg w-50" %>
    <%= link_to "🧑‍🎨 Автори", authors_path, class: "btn btn-outline-success btn-lg w-50" %>
    <%= link_to "📚 Жанри", genres_path, class: "btn btn-outline-warning btn-lg w-50" %>
  </div>
</div>
